<div class="logo">
    <img class="rot" src="/img/button.png">
    <img src="/img/text.png">
</div>
<div id="map" style="width: 100%; height: 700px"></div>

<script src="script.js"></script>
<script src="//yastatic.net/taxi-widget/ya-taxi-widget.js"></script>
